In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import DataFrame, Series
%matplotlib inline

In [3]:
df = pd.read_csv("log.csv")

In [4]:
df.head()

,date,base,coinone_eth,exchanged_eth,sent_eth,polo_eth,exchanged_btc,polo_xrp,exchanged_xrp,coinone_xrp,final,profit,rate
0,2017-05-13 22:37,1000000,112850,8.848028,8.838028,0.05068,0.447239,0.000121,3680.307822,278,1.021591e+06,21590.886020,2.159089
1,2017-05-13 22:37,1000000,112850,8.848028,8.838028,0.05068,0.447239,0.000121,3680.307822,278,1.021591e+06,21590.886020,2.159089
2,2017-05-13 22:37,1000000,112850,8.848028,8.838028,0.04950,0.436826,0.000121,3594.618666,279,1.001394e+06,1394.259766,0.139426
3,2017-05-13 22:37,1000000,112850,8.848028,8.838028,0.04950,0.436826,0.000125,3476.574437,279,9.685093e+05,-31490.678460,-3.149068
4,2017-05-13 22:37,1000000,112850,8.848028,8.838028,0.04950,0.436826,0.000125,3476.574437,279,9.685093e+05,-31490.678460,-3.149068

In [6]:
pf_df = df[df["rate"] > 0]

In [11]:
df2 = pf_df.ix[:, [2, 5, 7, 9, -1]]
df2.head()

    coinone_eth  polo_eth  polo_xrp  coinone_xrp      rate
0        112850   0.05068  0.000121          278  2.159089
1        112850   0.05068  0.000121          278  2.159089
2        112850   0.04950  0.000121          279  0.139426
14       112850   0.04950  0.000118          280  3.325450
15       112850   0.04950  0.000116          280  4.808506

In [13]:
df2.describe()

         coinone_eth     polo_eth     polo_xrp  coinone_xrp         rate
count    5258.000000  5258.000000  5258.000000  5258.000000  5258.000000
mean   112880.334728     0.049609     0.000119   278.513884     1.809964
std       369.606058     0.000426     0.000003     2.802805     2.642866
min    112150.000000     0.048500     0.000103   270.000000     0.000109
25%    112600.000000     0.049350     0.000119   277.000000     0.579324
50%    112850.000000     0.049600     0.000120   278.000000     1.102785
75%    113200.000000     0.049914     0.000121   280.000000     1.751976
max    114000.000000     0.050914     0.000125   288.000000    18.840864

In [17]:
low_rate = df2[df2["rate"] < 1.102785]
low_rate.head()

     coinone_eth  polo_eth  polo_xrp  coinone_xrp      rate
2         112850    0.0495  0.000121          279  0.139426
334       112850    0.0495  0.000119          274  0.303938
335       112850    0.0495  0.000119          274  0.303938
336       113000    0.0495  0.000119          274  0.170641
337       113000    0.0495  0.000119          274  0.170641

In [26]:
high_rate = df2[df2["rate"] >= 1.102785]
high_rate = high_rate[high_rate["rate"] <= 10]
high_rate.head()

    coinone_eth  polo_eth  polo_xrp  coinone_xrp      rate
0        112850   0.05068  0.000121          278  2.159089
1        112850   0.05068  0.000121          278  2.159089
14       112850   0.04950  0.000118          280  3.325450
15       112850   0.04950  0.000116          280  4.808506
16       112850   0.04950  0.000116          280  4.808506

In [23]:
low_rate.describe().ix[1, :]

coinone_eth    112955.306200
polo_eth            0.049490
polo_xrp            0.000121
coinone_xrp       279.339673
rate                0.571749
Name: mean, dtype: float64

In [27]:
high_rate.describe().ix[1, :]

coinone_eth    112803.021757
polo_eth            0.049717
polo_xrp            0.000119
coinone_xrp       277.877115
rate                2.378537
Name: mean, dtype: float64

In [25]:
very_high_rate = high_rate[high_rate["rate"] > 10]
very_high_rate.describe().ix[1, :]

coinone_eth    112844.897959
polo_eth            0.049932
polo_xrp            0.000106
coinone_xrp       274.496599
rate               14.354663
Name: mean, dtype: float64

결론 : 코인원과 폴로의 리플 시세가 낮고 폴로의 이더가격이 높을 때 하자?!